.progress {
  min-height: 250px;
  min-width: 500px;
  border-radius: 8px;
  border: 2px solid #ffc078;
  display: flex;
  justify-content: space-around;
  justify-self: center;
  margin-top: 50px;
  margin-bottom: 20px;
  align-items: center;
}

.progress__message {
  color: white;
  font-size: 30px;
  font-weight: 500;
}

.progress__task__count {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background: #74b816;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress__task__count p {
  color: black;
  font-size: 30px;
  font-weight: 500;
}
