.header {
  min-height: 70px;
  display: flex;
  justify-content: start;
  padding: 20px;
  align-items: center;
  gap: 5px;
}

.head__content {
  color: white;
  font-size: 35px;
}


@media (max-width: 550px) {
  .head__content {
    color: white;
    font-size: 20px;
  }

  .check {
    height: 30px;
    width: 30px;
  }
}